#container{
  background-color: #a7b7d1;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}
#controls{
  background-color: #e1e6ef;
  float: left;
  height: 900px;
  width: 400px;
}
#gridMap{
  height: 900px;
  width:900px;

}
